body {
    font-family: Georgia, serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url(../images/bckgrnd.png);
    background-repeat: no-repeat;
    background-position: top;

}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
}

main {
  background-position: center;
  background-size: cover;
}

footer {
  background-position: bottom;
  position: absolute;
  padding-bottom: 5px;
  align-self: baseline;
}

nav ul {
    background-image: url(../images/menu.png);
    background-position: center;
    background-size: cover;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-emphasis-color: white;
    text-rendering: optimizeSpeed;
    text-underline-position: 0;

}

nav li a:hover {
}

.menu-item {
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.menu-item:hover {
    background-size: cover;
}

/* Content Section Styles */
main {
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Image Styles */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
